* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    position: absolute;
    z-index: 99;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    margin: 3px;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.colors {
    float: left;
    margin-right: 4px;
}

.saturation {
    float: left;
}

input {
    position: absolute;
    top: -100px;
}